.container{
    /* margin-left: 300px;
    padding-right: 600px;
    margin-left: 600px; */
    background-image: url(img/image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
body{
    background-color: lightblue;
}